pre {
	&.#{$theme-slug} {
		background-color: $background;
		border-radius: $border-radius;
		color: $foreground;
		font-family: Menlo, Consolas, monaco, monospace;
		font-size: $font-size;
		font-weight: $font-weight;
		padding: $padding;
		user-select: text;
		white-space: pre;

		code {
			background: none; // Fix for Core Wordpress.
			font-size: 16px;
		}

		&::selection {
			background-color: $selection;
			color: $foreground;
		}

		> *::selection,
		span::selection {
			background-color: $selection;
			color: $foreground;
		}

		.comment {
			color: $comment;
			padding-left: 0;
		}

		.variable {
			color: $red;

			&.language {
				color: $orange;
			}

		}

		.constant.numeric,
		.constant.language,
		.constant.hex-color,
		.keyword.unit {
			color: $orange;
		}

		.constant,
		.entity,
		.entity.class,
		.support {
			color: $yellow;
		}

		.support {
			color: $yellow;

			&.tag {
				color: $red;
			}

			&.tag-name {
				color: $yellow;
			}

			&.attribute {
				color: $purple;
			}

			&.operator {
				color: $aqua;
			}
		}
		.function {
			color: $blue;
		}

		.constant.symbol,
		.string {
			color: $green;
		}

		.entity.function,
		.support.css-property,
		.selector {
			color: $blue;
		}

		.keyword,
		.storage {
			color: $purple;
		}

	}
}

